/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 17px;
    line-height: 1.4rem;
}

h1{
    font-size: 2.5rem;
    line-height: 2.6rem;
    font-weight: 400;
}

h2{
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
}

h3{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
}

h4{
    font-size: .8rem;
    line-height: 1.2rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}

button {
    background: yellow;
    color: black;
    font-size: 17px;
    border: none;
    width: 160px;
    height: 40px;
}


/* HEADER */

img {
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.top-nav {
    top: 0;
    display: inline-block;
    height: 10vh;
    width: 100%;
    margin: 0;
    background: black;
    align-items: center;
}

.logo {
    height: 10vh;
    min-height: 70px;
}



/* mobile nav */

.ham {
    position: absolute;
    right: 2vw;
    background-color: black;
    border: none;
    color: white;
    height: 10vh;
    font-size: 32px;
    text-align: right;
    
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateX(100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.4s ease;
  }

  .showNav {
    /* show the menu */
    display: unset;
    transform: translateX(0);
  }

nav {
    margin: 3vh;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 37px;
    line-height: 5rem;
}

.navbar {
    position: absolute;
    width: 100%;
    margin: 0;
    margin-top: 10vh;
    padding: 3vh;
}

.navbar button {
    margin-top: 2rem;
}

/* HOME MAIN */



.home-main {
    margin-top: 10vh;
}

.home-opener {
    margin-top: 2rem;
    padding: 5rem;
    display: none;
}

.home-events {
    margin-top: 2rem;
    padding: 2rem;
}

.event-listing{
    padding-top: 2rem;
}

.event-date{
    padding-top: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
}

.event-name{
    margin-top: 0;
    padding-bottom: 1rem;
}

.home-news {
    padding: 2rem;
}

.home-news h2 {
    padding-bottom: 1rem;
}

.home-news p {
    padding-bottom: 1rem;
}

.home-news img {
    padding: 1rem;
}

hr {
    border: none;
    border-top: 2px solid yellow;
   
}

#home-news-title{
    color: yellow;

}

/* NEWS MAIN */

.news-main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.news-block {
    padding: 5vh;
}

.news-main hr {
    border-top: 10px solid white;
    width: 20%;
    padding-bottom: 3vh;
    margin-left: 0;
    
}

.news-main h2{
    padding-bottom: 1rem;
}

.news-main img {
    padding: 2vh;
}



/* ARTICLE MAIN */

.article-main {
    margin-top: 3rem;
    padding: 5vh;
}

.article-caption {
    padding: 4rem;
    padding-top: 0;
    padding-bottom:0;
    font-size: 14px;
}

.article-image {
    padding: 8vh;
    padding-bottom: 2vh;
}

.article-main p{
    padding-top: 2rem;
}

#article-1-hero {
    padding: 2rem;
}



/* FOOTER */

.newsletter-signup {
    text-align: center;
    align-content: center;
    padding-bottom: 8rem;
}

.newsletter-signup h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    padding: 5vh;
    margin-bottom: 4rem;
}

.footer-meta {
    display: inline-block;
    width: 100%;
    
    color: yellow;
}

.copyright{
    float: left;
    width: 50%;
}

.donation{
    float: right;   
    width: 50%;
    text-align: right;
}


/* STREAMING BAR */

.streaming-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: black;
    border-top: 2px solid yellow;
    height: 70px;

}

.play-pause {
    width: 70px;
    float: left;
    border-right: 2px solid yellow;
    text-align: center;
    line-height: 4rem;
}

.streaming-info{
    max-width: 90%;
    padding: 2vh;
}

.streaming-info p {
    font-size: 8px;
   
}

.streaming-options{
    display: none;
}


@media only screen and (min-width: 600px) {
    
}



@media only screen and (min-width: 1024px) {

/* body {
    font-size: 23px;
} */

 /* FOOTER */

    .newsletter-signup {
        width: 30%;
        margin: 0 auto;
    }

    /* HEADER & NAV */

    .ham {
        display: none;
    }
    
    .header {
        display: flex;
        align-items: center;
        background: black;
    }

    .navbar {
        display: flex;
        position: relative;
        margin-top: 0;
        padding: 0;
        align-items: center;
        transform: none;
        width: 100%;
        height: auto;
        font-size: 17px;
        line-height: 17px;
        text-align: center;
        justify-content: flex-end;
    }

    .navbar p{
        align-items: baseline;
        margin-right: 2rem;
    }

    .navbar button {
        margin: 0;
        margin-right: 2rem;
    }


    /* HOME */
    
    .home-main {
        display: flex;
        flex-wrap: wrap;
    }

    .home-opener{
        /* visibility: visible; */
        display: initial;
        width: 100%;
        margin: auto;
        padding: 10rem 20rem;
    }

    .visualizer {
        display: none;
    }
    .home-events {
        width: 40%;
    }

    .home-news {
        width: 60%;
    }


    /* NEWS */

    .news-main {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .news-block{
        width: 50%;
    }

    #news-block-1{
        width: 100%;
        /* display: flex; */
    }


    .article-main {
        width: 60%;
        margin: auto;
        margin-top: 3rem;
    }

    .image-wrapper {
        display: flex;
        width: 40%;
        margin: auto;
    }

    .article-caption {
        padding: 4rem;
    }
}
