body{
    font-family: forma-djr-text, sans-serif;
    font-size: 27px;
    line-height: 32px;
    margin: 0;
}

h1{
    font-size: 15.8rem;
}

h2{
    font-size: 4.8rem;
    line-height: 4.7rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5vh;
}

h3{
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    color:rgb(160, 160, 160);
    margin: 0;
    padding-bottom: 10px;
}

/*Bottom Nav*/

#main-menu{
    font-size: 3.2rem;
    position:fixed;
    left: -5vw;
    bottom: 0;
    margin:0;
    margin-bottom: 5vh;
	width:110vw;
}

ul{
    padding: 0;
}

#main-menu li {
	display:block;
	width:25%;
    float:left;
    list-style-type: none;
    text-align: center;
}


#main-menu a {
	display:inline;
	/*padding:3px;*/
	text-decoration:none;
    color: black;
    text-align: center;
    border-bottom: 4px solid transparent;
}

#main-menu a:hover {

    border-bottom: 4px solid black;
}

#main-menu a:active {

    border-bottom: 4px solid black;
}

#main-menu .current{
    border-bottom: 4px solid black;
}


/*Header (top nav)*/

#header a {
    font-size: 17px;
    color: black;
    text-decoration: none;
    line-height: 10px;
}

#header {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 35px;
    background: rgb(201, 201, 201);
    color: black;
    justify-content: center;
    align-items: center;    
    line-height: 8px;
}

.second #header {
    background: #D8F3FF;
}

.third #header {
    background: #FFFADD;
}

.fourth #header {
    background: #E4F6DB;
}

/*Main Content Layout*/

.layout{
    padding-top: 15vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.edition-image{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    width: 50vw;
}

.edition-text{
    margin-top: 10vh;
    box-sizing: border-box;
    width: 50vw;
    padding-right: 10vw;
    padding-left: 5vw;
}


/* Homepage */

.home{
    background-color: black;
}


.home-header{
    font-family: forma-djr-deck, sans-serif;
    display: inline-block;
    position: absolute;
    color: white;
    padding-left: 4em;
}

.home #main-menu a {
    color: white;
}

.home #main-menu a:hover {

    border-bottom: 4px solid white;
}

#home-h1 {
    line-height: 10rem;
    padding: 0;
    margin-top: .5em;
    margin-bottom: 0;
}

#home-h2{
    padding-top: 4rem;
    line-height: 50px;
    padding-left: .05em;
   
}

.home-images{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.home-images img{
    flex: 1;
    padding: 2em;
    padding-top: 3em;
   
}

#image-secondary{
    /* max-width: 13em;
    max-height: 18em; */
    max-width: 30%;
    max-height: 80%;
    padding-right: 15em;
    padding-top: 2em;
}

#image-main{
    /* max-width: 20em;
    max-height: 30em; */
    max-width: 60%;
    max-height: 90%;
}

#mydiv {
    position: absolute;
    /* z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center; */
  }
  
  /* #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  } */

  #mydiv2 {
    position: absolute;
    z-index: 0;
    /* background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center; */
  }



