/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Literata', serif;
  font-weight: 300;
  font-size: 23px;
}

h1,
h2, 
h3 {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif}
main,
header h1,
nav div {
  width: 85%;      
}
header {
  width: 40%;
  height: 800px;
  background-image: url("../images/banners/mapglitch1.png")
}
nav a {
  padding-right: 40px;
  color: rgba(0, 4, 211, 0.867);
}
nav a:hover {
  color: #333;
}
nav {
  padding-bottom: 40px;
}

.projectimage {
  width: 400px
}

.layout {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.contact{
  display: flex;
  align-content: center;
}

.contact h1{
  margin: 10%;
  width: 20%;
}

.contact form{
  margin: 10%;
  font-size: 17px;
  width: 80%;
  margin-left: 0;
}

input[type="text"], input[type="email"] {
  width: 400px;
  height: 20px;
}

.button{
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 50px;
}

