/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}

h1,
h2, 
h3 {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif}
main,
header h1,
nav div {
  width: 85%;      
  margin: auto;
}
header {
  padding-top: 80px;
  padding-bottom: 40px;
}
nav a {
  padding-right: 40px;
  color: rgba(0, 4, 211, 0.867);
}
nav a:hover {
  color: #333;
}
nav {
  padding-bottom: 40px;
}
